body {
	margin : 0px;
}
.main {
	padding : 10px;
}
h1 {
	color : white;
	padding : 5px;
	padding-left : 45px;
	background-color : #b32;
	background-image : url("data:image/gif;base64,R0lGODlhLAAsAPcAAAAAAP///yAfIGVjZfDt8Pr4+snHyb27vV5dXtzb3NTT1L++v8G/wk5OUFpaXFZWWDo6OzY2N7+/wlFRUkxMTba2uOzs7cXFxsPDxLu7vLm6u7i5ujEzM05QUEpMTLK1tXV3d1BRUU1OTkxNTUlKSkhJSb/Bwbu9vV1eXlxdXebn59bX18HCwr2+vq2uroOEhLa5uE5QTlpcWnR2dJmbmUxNTEhJSODi4NHT0W5vblxdXM/Qz72+vbq7urm6ubS1tL/BvkpiIEZcHERZG0FWGkNYG0BUGkheHkthIFJqJFBnI05mI1hxKFdvKFpzKl13LFx1K2F7Ll55LV95LWaCMWWAMGR/MGyJNGuINGeDMmuHNGqGNG+MN22KNnSTOnqZPXiYPXaUO3WTO4ChQX2eQHycP3iXPXeVPH+gQXubP4KiQ4eoRoChQ46xSqDHVaLJWLbgY8f1bkBUGD9SGENWG01jIUpfIGJ8Ll53LGJ7LmmEM3OQOXGNOH2cP36dQHaTPIalRISkRIemRoSiRIKgQ4elRoioSMXwbsr1cZ+gnY6qSZi1UMfnbcXbbef/geDxf/P/iP//mVRUUkxMSi0tLIqKiIaGhFJSUUZGRUVFRM3Ny729u6ysqnNzcl1dXN/f3s/PzsLCwbq6ua6uraGhoKCgn/+qZf+ON7CurRsaGpuZmVVUVMG/v6yqqtzb24+OjsPDw8HBwb+/v76+vr29vbi4uLa2trW1tbS0tLGxsa6urqysrKqqqqampqWlpaKiop+fn5ycnJubm5iYmJSUlJCQkIqKioiIiIeHh4SEhIKCgoCAgH9/f3x8fHt7e3h4eHd3d2tra2dnZ2JiYl5eXl1dXVxcXFpaWllZWVZWVlVVVVRUVFJSUlFRUVBQUE5OTk1NTUxMTEpKSklJSUhISEZGRkVFRURERENDQ0BAQD09PTg4ODMzMzExMTAwMNfX1wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAO8ALAAAAAAsACwAAAj/AN8JHEiwoMGDCBMqXMiwocOHECNKnEixokWJp0xp3Mixo8eOpx6eAuGupMmTKFOiBBGyoSl3uYA5g9ZJmrQCAXLqDFCAgAUVN0BpKFUJ2TR3LF2624XtWgRx4r5ZSKBgBY4LrDJo+OCCVDBVLngVq9YtGtKWCl+W2ratXbp0JT4ZuHABVotZsvJ2yqaNWq5QxrKJmybNnSmGL4lxa/t2nCsMEmKZyLAJSKgT0yZ4ewADlDJv48JlM4zY3bHFbtOR03RhAYNZB2hlkMUDmzdw2HzgYNaBHLlxpBe+tMQ2dbkLG3BVqFXr1i1cuLCBo3DN1g5m4cr9Dp7WHbJt2ti9/z0Hy5exZC+WNWvmzFe1ceKsvcoFTVw57dwTvvy+TXy6TCwMk8wyzDAz0wyJpCAOOChY8ksn9vmWH0L7seWOOumgE4swxbxSTIfGIJPIAKtIMg0yreQwjjnmlDPhQS8do8027qRjzjm1+BIMDaX04gsww5Diyy++8KIKKtGU06KLhwlnmjbarHPOfZyMMooutmQgyi0/4PKDKJHF0oM0mJzT4osGxciWORFQkooAlLTDwToQ1BlBBOywQ2ed3Zg5JZoFqckWN9yAM8433jTwjQjfhDPJODaMAw443pxzDjromAkoQS8ZM6M23QAg6qikllqqpeZsOlCn3HSzCgCHOP/iCCJwuNGGGmbswQUWVdzhBBPAJjEEAOgwWRoy3XizDQCQRPKIImVwcQcTeUShxBJLBBGEHUfYIUQRAPzZZHfJfPPNJQAw0sggAUQiqxpNxNvuu0zQQQS46KQ6rn7uKAPON9gA8MYifLgbBRSOqDEFFAE40oQaCRtxb7jA7Uthv+YGvMYeehh8sCNQROHuHHNAPIfEFKsq0EvMTKoNAH9oUYXHCCMxh7uyJiyHHEQAUA44Kr/DMjjhhIpFFlXIuoUVeDiCR9NOz5FwEUMcAUA43wTNcjjhvHyFHlrIKgYeEHcB9dMQU1GHEgCA043W7jQTDjjUwLwHGDm/K4YYeSe3XMUTUgDQDY0Ww+iOMwtaA8AeZ4DxxRdlRN4HGpSjMQYbZPSxRxhtAKDNaIWn6c4z8L3MhRdnmPF4Gn4QokYggAQSiCCGKFJIG3EAgA02cEPzGzjLmiq8qd00BXcnvkFVvDXVyOCANcwjoIMnnlRTjTXXZLNYNddYA3cO3ngTgrLac+NNDJOOUIMH7ItDgjhzc4MNNdYHPZJK+Od/UlIMZfTR/wDcCFouQsACGvCACEygAhdYwIAAADs%3D");
	background-position : 0px 1px;
	background-repeat : no-repeat;
}
a {
	color : #b32;
}
a:hover {
	color : black;
}
input, textarea, select, input.dfile {
	border : 1px solid #bbb;
}
input.dint, input.duint, input.ddate, input.dfloat {
	width : 80px;
}
img.dfile {
	position : absolute;
	left : 800px;
}
input.button {
	color : white;
	font-weight : bold;
	min-width : 100px;
	background-color : #b32;
	cursor : pointer;
	border : 0px;
	-moz-border-radius : 5px;
}
input.ddatetime {
	width : 120px;
}
input.dstring {
	width : 400px;
}
input.dtinytext {
	width : 700px;
}
textarea.dtext {
	width : 700px;
	height : 200px;
}
input:focus, textarea:focus, select:focus {
	background-color : #f5f5f5;
}
select {
	width : 300px;
}
input.button:hover {
	background-color : orange;
}
input.button:focus {
	background-color : orange;
}
.derror {
	text-align : center;
	background-color : #fee;
}
table.results {
	border-collapse : collapse;
	border-spacing : 0px;
	font-size : 90%;
	white-space : nowrap;
	margin-bottom : 20px;
}
table.results td {
	padding : 1px;
	border-left : 1px solid #bbb;
	border-right : 1px solid #bbb;
}
table.results tr.header {
	background-color : #b32;
	color : white;
}
table.results tr.header a {
	color : white;
	text-decoration : underline;
}
table.results tr {
	background-color : white;
}
table.results tr.odd {
	background-color : #eee;
}
table.results tr:hover td {
	background-color : #fee;
}
table.results tr.odd:hover td {
	background-color : #ffd7d7;
}
div.links {
	position : absolute;
	width : 100%;
	height : 22px;
	top : 45px;
	left : 0px;
	font-size : 0pt;
	line-height : 0pt;
	color : #e82;
	background-color : #e82;
}
div.links a:first-child {
	margin-left : 2px;
}
div.links a {
	padding-left : 8px;
	padding-right : 8px;
	font-family : "Trebuchet MS";
	font-weight : bold;
	font-size : 12pt;
	line-height : 22px;
	color : white;
	font-variant : small-caps;
	text-decoration : none;
}
div.links a:hover {
	background-color : black;
}
