body {
	text-align: center;
}

.site {
	width : 800px;
	position : relative;
	margin : 0px auto 0px auto;
	text-align : justify;
}

.header {
	text-align : center;
}

.header a {
	font-size : 30px;
	text-decoration : none;
}

ul.menu {
	margin-left : 0px;
	padding-left : 0px;
	margin-top : 0px;
	margin-bottom : 0px;
}

ul.menu li {
	padding-right : 10px;
	display : inline;
}

ul.menu li a {
	text-decoration : none;
	color : black;
	font-size : 20px;
}

.login {
	position : absolute;
	top : 30px;
	right : 0px;
	text-align: right;
}

.login p {
	width : 120px;
	text-align : justify;
	font-size : 8pt;
	margin-top : 0px;
	margin-bottom : 5px;
}

.login h1 {
	display : none;
}

.login .field {
	width : 50px;
}

.login form {
	margin : 0px 0px 0px 0px;
}

.login .group {
	display : block;
	margin-bottom : 2px;
}

.login .tfield {
	display : inline;
}

.login strong {
	display : block;
}

div#notification {
	border : #cfc 1px solid;
	background : #efe;
	color : #080;
	text-align : center;
	width : 700px;
}

div.error, div#notification.error {
	border : #fcc 1px solid;
	background : #fee;
	color : #800;
	text-align : center;
}

.content {
}

.view {
	width : 800;
	background-color : #eee;
	margin-top : 10px;
	padding : 5px;
}

.version {
	font-size : 10px;
	text-align : right;
}

h1 a {
	color : black;
	text-decoration : none;
}

.tfield {
	display : block;
}

input.field, textarea {
	border : 1px solid #aaa;
	padding-left : 2px;
}

textarea {
	width : 100%;
	height : 300px;
}

ul.buttons {
	padding-left : 0px;
	margin-left : 0px;
	margin-top : 10px;
	margin-bottom : 10px;
}

ul.buttons li {
	display : inline;
}

ul.buttons a, input.button {
	text-decoration : none;
	background-color : #ddd;
	color : black;
	padding : 1px 3px 1px 3px;
	border : 1px solid #aaa;
	height : 21px;
	-moz-border-radius : 3px;
}

ul.buttons a:hover, input.button:hover {
	background-color : #eee;
}

ul.links {
	margin : 5px 0px 0px 0px;
	padding : 0;
	float : left;
	list-style-type : none;
}

ul.links li {
	display : inline;
}

.footer {
	text-align : center;
	margin-top : 10px;
	font-size : 14px;
}

ul.map {
	list-style-type : disc;
	margin-left : 20px;
	padding-left : 0px;
	font-style : italic;
}

ul.map li.has_content {
	font-style : normal;
}

table.history th {
	text-align : center;
	color : white;
	padding-left : 10px;
	padding-right : 10px;
	background-color : #aaa;
}

table.history tr.even {
	background-color : #eee;
}

pre {
	background-color : #f7f7f7;
	border : 1px dashed #aaa;
	padding : 5px;
	margin : 10px;
}

pre.xml span {
	color : #009;
}

pre.xml span.comment, pre.xml span.string, pre.haxe span.comment {
	color : #090;
}

pre.haxe span.kwd {
	color : #009;
	font-weight : bold;
}

pre.haxe span.type, pre.haxe span.number {
	color : #557;
}

pre.haxe span.string {
	color : red;
}

pre.haxe span.op {
	font-weight : bold;
}

a.intern {
	color : #008;
}

a.broken {
	color : #d00;
}

a.extern {
	color : #080;
}

a.file {
	color : #f80;
}

.langs h1 {
	display : none;
}

.langs {
	position : absolute;
	top : 145px;
	right : 0px;
}

.langs ul {
	margin : 0px;
}

.langs li {
	display : inline;
}

.langs a {
	text-decoration : none;
	margin-left : 5px;
}

.langs img {
	border : 0px;
}

.langs .name {
	display : none;
}

.langs a.off img {
	opacity	 : 0.40;
	filter	 : alpha(opacity=40);
}

.langs a.current img {
	border : 2px solid #888;
}

form.register {
	padding-left : 100px;
	width : 250px;
	height : 150px;
}

form.register .tfield {
	float : left;
	width : 100px;
}

form.register .field {
	float : right;
	width : 130px;
}

form.register .group {
	display : block;
	height : 30px;
}

form.register .button {
	float : right;
}

dl.user dt {
	float : left;
	width : 70px;
	font-weight : bold;
	margin-left : 40px;
}

.search {
	position : absolute;
	right : 0px;
	top : 170px;
}

.search .field {
	width : 60px;
}

.search h1 {
	display : none;
}

.edit_comments textarea {
	display : block;
	width : 50%;
	height : 70px;
}
