/* LAYOUT STRUCTURE */

.all {
	height				: 100%;
}

.header {
	height				: 101px;
}
/* LAYOUT STRUCTURE */

.site {
	height				: 720px;
	background-image	: url('/img/haxe/bg_content_ie.gif');	
}


/* */ 

#notification, #notification.error {	
	position			: absolute;
	margin				: 15px 0px 0px 45px;
	padding				: 3px;	
	text-align			: center;
	background-image	: none;		
}

/* REGISTER */

form.register input.field {
	display				: block;	
	width				: 150px;
}

form.register span.group {
	display				: inline;
	width				: auto;		
}

form.register input.button {
	margin-top			: 10px;
	margin-left			: 90px;	
}

/* */

table.history {
	border-collapse	: collapse;
}