* {
	margin				: 0px;
	padding				: 0px;
}

body {
	background-color	: #fec736;
	font-family			: "trebuchet ms", sans-serif;
	font-size			: 10.5pt;
}

a, strong, b {
	color				: #09598a;
}

a.broken {
	color				: #e10005;	
}

a.file, a.extern {
	background-color	: transparent;
	background-image	: center right;
	background-repeat	: no-repeat;
}

a.file .file_zip {
	background-image	: url('/img/haxe/items/pdf.gif');
	padding-right		: 15px;	
}

a.extern {
	background-image	: url('/img/haxe/items/extern.gif');
	padding-right		: 15px;	
}

em {
	color				: #c35700;	
}

h1 {
	color				: #c35700;
	font-size			: 17pt;
	margin-top			: -6px;
}

h2 {
	color				: #09598a;	
	font-size			: 14pt;	
}

p {
	margin-top			: 3px;
	margin-bottom		: 15px;
	text-align			: justify;
}

ul {
	list-style			: none;	
}

.view ul {
	list-style-image	: url('/img/haxe/items/ul_spot.gif');
	list-style-position	: inside;
	margin				: 5px 0px 25px 10px;	
}

.view ul li {
	margin-bottom		: 1px;	
}

.view .biglist ul{	
	list-style			: none;	
	margin-left			: 10px;
}

.view .biglist li {
	background-image	: url('/img/haxe/items/ul_spot2.gif');
	background-position	: 0px 2px;
	background-repeat	: no-repeat;
	padding-left		: 24px;
	margin-bottom		: 20px;
	text-align			: justify;
}

pre {
	background-color	: #f7fbfe;
	border 				: 1px dashed #c2d9e6;
	padding 			: 5px;
	margin 				: 10px;
}

pre.xml span {
	color : #009;
}

pre.xml span.comment, pre.xml span.string, pre.haxe span.comment {
	color : #090;
}

pre.haxe span.kwd {
	color : #009;
	font-weight : bold;
}

pre.haxe span.type, pre.haxe span.number {
	color : #557;
}

pre.haxe span.string {
	color : red;
}

pre.haxe span.op {
	font-weight : bold;
}


/* BASIC INPUTS */

input, textarea {	
	background-color	: #fff;
	border-style		: none;
}

input.button:hover {
	cursor				: pointer;	
}

input.field {	
	height				: 18px;	
	vertical-align		: middle;
	padding				: 2px;
	border				: 1px solid #97cbeb;	
}

textarea {
	font-family			: "trebuchet ms", sans-serif;	
	font-size			: 9pt;
	width				: 640px;
	height				: 300px;
	background-color	: #eef7fd;
	padding				: 5px;
	border				: 1px solid #97cbeb;	
}

.view input.button, .editor input.button {
	border-style		: none;
	width				: 110px;
	height				: 34px;
	background			: transparent url('/img/haxe/buttons/button1.png') top left no-repeat;
	font-size			: 9.5pt;	
	color				: #09598a;
	font-weight			: bold;
	font-variant		: small-caps;
	padding-bottom		: 3px;
	margin				: 5px 0px 15px 0px;	
}

.view input.button:hover, .editor input.button:hover {	
	background-image	: url('/img/haxe/buttons/button1_hover.png');
}


/* LAYOUT STRUCTURE */

.all {
	background			: #fff url('/img/haxe/bg_main.gif') top left repeat-x;		
}

.site, .header {	
	margin				: 0px auto;	
}				

.header, .site, .footer {
	background-position	: top left;
	background-repeat	: no-repeat;				
}

.header {							
	margin-bottom		: -8px;				
	height				: 102px;	
	background-image	: url('/img/haxe/logo_haxe.gif');
	width				: 1021px;	
}	

.header a {
	display				: none;	
}		

.site {
	width				: 963px; 
	min-height			: 720px; /* repasar ie6 */
	background-image	: url('/img/haxe/bg_content.png');
	background-position	: center top;
	padding-top			: 1px; /* ffox bug with notification */
}				

.footer {	
	background-color	: #fec736;
	height				: 67px;
	text-align			: center;												
	padding-top			: 15px;	
	background-image	: url('/img/haxe/bg_bottom.png');
	background-repeat	: repeat-x;	
	color				: #c35700;
	font-size			: 9pt;	
}

.footer a {
	color				: #c35700;	
}

.content  {	
	padding				: 45px 275px 45px 45px;		
}

.notification {	
	margin				: 45px 280px -20px 45px;
	padding				: 10px 10px 10px 40px;		
	background			: #ffefa3 url('/img/haxe/items/notification_bg.gif') bottom left repeat-x;	
	border				: 1px solid #d85700;
	-moz-border-radius	: 5px;
	color				: #bf4d00;
}

/* CONTENTS */

ul.menu {
	display				: inline;	
}

ul.menu {
	position			: absolute;
	margin-top			: -22px;
	margin-left			: 300px;	
}

ul.menu li {
	float				: left;
	position			: relative;
	margin-left			: 35px;		
}

ul.menu li a {
	font-size			: 12pt;
	color				: #c35700;
	font-weight			: bold;
	text-decoration		: none;
}

ul.menu li a:hover {
	text-decoration		: underline;
}

.login, .langs, .search, .links {	
	font-size			: 9pt;
	width				: 164px;		
	position			: absolute;		
	margin-left			: 740px;
}

.login {	
	margin-top			: 45px;		
}

.login h1, .langs h1, .search h1, .links h1 {
	color				: #4381a7;	
	font-size			: 11pt;	
	border-bottom		: 2px solid #d4ebf9;
	line-height			: 18pt;
	margin-top			: 0px;
}

.login p {
	margin				: 0px;	
}

.login form, .search form {
	text-align			: right;
}

.login input.field {
	width				: 100px;
	margin-bottom		: 2px;
} 

.search input.field {	
	width				: 100px;
	margin-bottom		: 2px;
}

.login input.button, .search input.button {
	background-image	: url('/img/haxe/buttons/button_ok.png');
	width				: 40px;
	height				: 25px;
	color				: #09598a;	
}

.login input.button:hover, .search input.button:hover {
	background-image	: url('/img/haxe/buttons/button_ok_hover.png');
}

.links {
	margin-top			: 205px;	
}

.links li {
	background			: transparent url('/img/haxe/items/ul_spot3.gif') no-repeat left center;
	margin-bottom		: 5px;	
	padding-left		: 15px;
}

.search {
	margin-top			: 315px;	
}

.search form {
	margin-top			: 4px;	
}

.search form input {
	vertical-align		: middle;	
}

.search input.field {
	margin-top			: 1px;
	width				: 110px;	
}

.langs {
	margin-top			: 400px;
}

.langs ul li {
	margin-top			: 6px;	
}

.langs ul a {
	text-decoration		: none;	
}

.langs ul img {
	border-style		: none;	
}

.langs span {
	text-decoration		: underline;	
}

.version, .hierarchy {
	color				: #8a8a8a;	
	font-size			: 9pt;
	text-align			: right;
}

ul.buttons {	
	height				: 25px;
	margin-top			: 20px;	
}

ul.buttons li {	
	float				: left;
	margin-right		: 20px;	
}

ul.buttons li a {
	background			: #f4fafd url('/img/haxe/buttons/button0.gif') repeat-x bottom left;
	padding				: 2px 4px;
	border				: 1px solid #bde1f6;
	-moz-border-radius	: 3px;
	font-size			: 9pt;
	text-decoration		: none;
}

ul.buttons li a:hover {
	background			: #f8fcfe url('/img/haxe/buttons/button0_hover.gif');	
}	

/* SPECIAL 'A' BUTTONS */

a.button1, a.button2 {
	display				: block;
	width				: 110px;
	height				: 28px;
	text-align			: center;
	padding-top			: 6px;
	text-decoration		: none;
	font-size			: 10pt;	
}

a.button1 {
	background			: transparent url('/img/haxe/buttons/button1.png') top left no-repeat;	
}

a.button1:hover {
	background			: transparent url('/img/haxe/buttons/button1_hover.png') top left no-repeat;	
}

a.button2 {	
	background			: transparent url('/img/haxe/buttons/button2.png') top left no-repeat;
	color				: #c35700;
}

a.button2:hover {
	background			: transparent url('/img/haxe/buttons/button2_hover.png') top left no-repeat;	
}

/* EDITOR */

.editor .tfield {
	font-size			: 13.5pt;
	vertical-align		: middle;
}

.editor .field {
	width				: 350px;	
	font-size			: 13.5pt;
	padding-bottom		: 4px;
}

/* TABLE HISTORY */

table.history {
	margin-top			: 10px;
	border				: 1px solid #c2d9e6;
	border-collapse		: separate;
	border-spacing		: 1px;
	-moz-border-radius	: 5px;	
	width				: 100%;	
}

table.history th {	
	color 				: #4381a7;
	font-variant		: small-caps;
	font-size			: 12pt
	height				: 30px;
	background			: #c8e3f9 url('/img/haxe/buttons/but ton0.gif') top left repeat-x;	
}

table.history td, table.history th {
	text-align			: center;
	padding				: 5px 5px;	
}

table.history tr {
	background-color	: #f1f8fd;
}

table.history tr.even {
	background-color 	: #e4f2fc;
}

table.history tr:hover {	
	background-color	: #ffeec1;
}

table.history td {
	font-size			: 9pt;
	border-color		: #fff #c2d9e6 #c2d9e6 transparent;
	border-style		: solid;
	border-width		: 1px;
}

/* WIKI MAP */

ul.map {
	list-style-image	: url('/img/haxe/items/ul_spot.gif');
	list-style-position	: inside;	
}

ul.map li {
	margin				: 5px;
}

ul.map li.has_content {
	
}

/* BROWSE */

p.browse {
	text-align			: center;	
}

